.header-bottom .container .divheader768 {
	background-color: #E72327;
}
#rightlogosection {
	width: 192px;
	background-color: #690BD0;
	float: left;
	text-align: center;
}
.headerrow768 {
}
img.logo
{
display:inline-block;
margin-left:auto;
margin-right:auto;
width:50%;
height:50%x;
}
#images{
   text-align:center;
}

.col-sm-offset-1.col-sm-5 div {
	text-align: center;
}
div .row .col-sm-4 {
	text-align: left;
}
#div320header img {
	display: block;
	width: 120px;
	text-align: center;
}
.div320titleid {

}
#div320header #div320img img {
	float: left;
	margin-left: 12px;
	text-align: justify;
}


@media screen and (min-width:769px){
.header-bottom .container #div320header {
	display: none;
}

}
.divlogoimg {
	display: block;
	background-color: #5F0E10;
}

@media screen and (min-width:967px) and (max-width:768px){
.container div .div769-966 {
	display: none;
}

}

@media screen and (max-width:768px){
.container div .div769-966 {
	display: none;
}

}

@media screen and (min-width:967px){
.container div .div769-966 {
	display: none;
}

}
