@charset "utf-8";
.mainDiv {
}
.logo2 {
	width: 192px;
	height: 192px;
}
.header-bottom #headerMain #logodesign {
	width: 191px;
	height: 191px;
		float: left;
}

.logo {
	width: 192px;
	height: 192px;
	}
.logostyle {
	width: 200px;
}

.l {
}
.logodisplay {
	width: 191px;
	height: 191px;
		float: left;
}
div .mainHeader #headerCentre {

}
.header-bottom #headerMain #logodesign1 {
	width: 191px;
	height: 191px;
		float: left;
	margin-left: 20px;
}
.header-bottom #headerMain #headerMaincontent {
	width: 600px;
	height: auto;
	float: left;
}
#logodesign1 {
	margin-left: 50px;
	margin-bottom: 15px;
}
#headerMain {
	margin-left: 115px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.slider {
}
.subheading {
	color: #D06733;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size: 20px;
	text-align: center;
}
.header1 {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size: 30px;
	float: none;
	text-align: center;
}
.singletitleheader {
	font-size: 30px;
	text-align: center;
	color: #9D3420;
}
#967leftlogo {
	width: 191px;
	height: 191px;
	background-color: #E93235;
}
.logocontainer {
	width: 191px;
	height: 191px;
	background-color: #E74649;
}









@media screen and (max-width:768px){
#logodesign {
	width: 0%;
}





}
.headerHeading {
	text-align: center;
}
.headercontact {
	margin-left: 120px;
}

@media screen and (max-width:1134px){

}

@media (max-width:320px){
#logodesign1 {
	width: 320px;
	display: none;
}
#logodesign {
	display: none;
}
.headerHeading {
	text-align: left;
}
#headerMaincontent {
	display: inline;
	float: none;
	clear: none;
}
.header-bottom {
}
#headerMaincontent {
	display: none;
}







}

@media screen and (min-width:321px){
#headerMaincontentless320 {
	display: none;
}

}
.header967 {
}
.topsingletitleheader {
	width: 584px;
	float: left;
}
